/*--------- font-------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
    box-sizing: border-box;
}

/*----- common styles---- */
body {
    font-family: 'Montserrat', sans-serif;

}

.container {
    max-width: 1321px;
    margin: 0 auto;
}

/*---------
 section 1 all styles
 ---------*/
.first {
    display: flex;
    padding: 0 108px;
    align-items: center;
    /* height: 582px; */
    /* width: 1321px; */
    justify-content: center;
    margin-top: 80px;
    background: #161616;
    border-radius: 30px;
    color: white;

}

.paragraph-1 {
    width: 50%;
}

.paragraph-1 h1 {
    font-size: 50px;
    padding: 0px;
}

.header {

    width: 50%;

}

.header img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-color: red;
    padding: 17px 42px;
    color: white;
    font-weight: 700;
    border-radius: 8px;
}

.link-button i {
    margin-left: 15px;

}

/* section 2 all styles */
.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main-section {
    display: flex;
    margin-top: 110px;
    justify-content: space-between;
}

.transfer-btn {
    display: block;
}