/*--------- font-------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
    box-sizing: border-box;
}

/*----- common styles---- */
body {
    font-family: 'Montserrat', sans-serif;

}

.container {
    max-width: 1321px;
    margin: 0 auto;
}

/*---------
 section 1 all styles
 ---------*/
.first {
    display: flex;
    padding: 0 108px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    background: #161616;
    border-radius: 30px;
    color: white;

}

.paragraph-1 {
    width: 50%;
}

.paragraph-1 h1 {
    font-size: 50px;
    padding: 0px;
}

.header {

    width: 50%;

}

.header img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-color: red;
    padding: 17px 42px;
    color: white;
    font-weight: 700;
    border-radius: 8px;
}

.link-button i {
    margin-left: 15px;

}

/* ------section 2 all styles------
             -----------*/

.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.article {

    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.article img {
    display: block;
    width: 100%;
}

.article h3 {
    margin-left: 20px;
    margin-right: 20px;
}

.main-section {
    display: flex;
    margin-top: 110px;
    justify-content: space-between;
    column-gap: 24px;
}

.side-bar {
    background: #161616;
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

.side-bar a {
    display: block;
    text-decoration: none;
    background-color: white;
    width: 100;
    margin-bottom: 40px;
    color: black;
    font-weight: 700;
    border-radius: 8px;
    padding: 30px 30px 30px 30px;
    margin-right: 35px;
}



.transfer-btn {
    display: inline-block;
    border: 2px solid black;
    text-decoration: none;
    padding: 5px 25px;
    color: black;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 20px;
}

.fa-clock {
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    list-style: none;
}

footer {
    background: #161616;
    text-align: center;
    padding: 140px;
    color: white;
    margin-top: 130px;
}

footer h3 {
    font-size: 40px;
}

.footer {
    margin: 15px;
    justify-content: space-between;
}