/*--------- font-------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');


/*----- common styles---- */
body {
    font-family: 'Montserrat', sans-serif;

}

.first {
    display: flex;

    position: absolute;
    width: 1321px;
    height: 582px;
    left: 140px;
    top: 76px;
    /* margin-left: 10em; */
    /* margin-top: 4em; */
    background: #161616;
    border-radius: 30px;
    color: white;

}

.paragraph-1 {
    position: absolute;
    width: 531px;
    height: 424px;
    left: 90px;
    top: 50px;


}

.paragraph-1 h1 {
    font-size: 50px;
    padding: 0px;
}

.header {

    position: absolute;
    width: 900px;
    height: 700px;
    left: 750px;
    top: 50px;
    bottom: 90px;
}

.header img {
    height: 533px;
    width: 450px;
}

.link-button {
    text-decoration: none;
    background-color: red;
    padding: 17px 42px;
    color: white;
    font-weight: 700;
    border-radius: 8px;
}